.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #343a40;
}

.application {
  position: fixed;
  top: 70px;
  bottom: 70px;
  left: 0;
  right: 0;
  overflow:auto;
  margin-left: 15%;
}
